.Click-here{
    width: 100%;
    transition: 1s;
    cursor: pointer;
  }
  .services_list .s1 .Click-here img{
    width: 450px;
    height: 450px;
  }
  .services_list .s2{
    width: 50%;
    height: 440px;
    text-align: center;
    position: relative;
  }
  .s2 h3{
    text-align: center;
    font-family: "Nexa-Bold", sans-serif;
    position: relative;
    text-transform: capitalize;
  }
  .Click-here2{
    width: 100%;
    transition: 1s;
    cursor: pointer;
  }
  .Click-here3{
    width: 100%;
    transition: 1s;
    cursor: pointer;
  }
  .services_list .s1 .Click-here3 img{
    width: 450px;
    height: 450px;
  }
  .Click-here4{
    width: 100%;
    transition: 1s;
    cursor: pointer;
  }
  .Click-here5{
    width: 100%;
    transition: 1s;
    cursor: pointer;
  }
  .services_list .s1 .Click-here5 img{
    width: 450px;
    height: 450px;
  }
  .Click-here6{
    width: 100%;
    transition: 1s;
    cursor: pointer;
  }
  /* Search Engine Marketing Description Popup */
  
  .custom-model-main {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 15%;
    right: 0;
    bottom: 0;
    left: 0; /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .model-open {
    z-index: 9;
    opacity: 1;
    overflow: hidden;
  }
  .custom-model-inner {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    height: 80%;
    background-color: rgb(255, 255, 255);
  }
  .model-open .custom-model-inner {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    transition: 1s ease-in-out;
  }
  .close-btn img{
    width: 50px;
    height: 50px;
  }
  .close-btn:hover{
    transform: rotate(180deg);
  }
  .popup_content{
    width: 100%;
    height: 100%;
    padding: 100px;
    
  }
  .popup_content h3{
    text-align: left;
    font-family: "Nexa-Bold";
    font-size: 24px;
    color: #000;
  }
  .popup_content p{
    color: #000;
    text-align: justify;
    margin-top:10px;
    font-size: 16px;
  }
  .popup_content ol li{
    color: #000;
    font-size: 18px;
  }
  .popup_content ol li p{
    color: #000;
    font-size: 16px;
  }
  /* Social Media Marketing Description Popup */
  
  .custom-model-main2 {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 15%;
    right: 0;
    bottom: 0;
    left: 0; /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .model-open2 {
    z-index: 9;
    opacity: 1;
    overflow: hidden;
  }
  .custom-model-inner2 {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    height: 80%;
    background-color: rgb(255, 255, 255);
  }
  .model-open2 .custom-model-inner2 {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
  }
  
  .close-btn2 {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    transition: 1s ease-in-out;
  }
  .close-btn2 img{
    width: 50px;
    height: 50px;
  }
  .close-btn2:hover{
    transform: rotate(180deg);
  }
  .popup_content2{
    width: 100%;
    height: 100%;
    padding: 100px;
    
  }
  .popup_content2 h3{
    text-align: left;
    font-family: "Nexa-Bold";
    font-size: 24px;
    color: #000;
  }
  .popup_content2 p{
    color: #000;
    text-align: justify;
    margin-top:10px;
    font-size: 16px;
  }
  /* Graphics Design Description Popup */
  
  .custom-model-main3 {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 15%;
    right: 0;
    bottom: 0;
    left: 0; /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .model-open3 {
    z-index: 9;
    opacity: 1;
    overflow: hidden;
  }
  .custom-model-inner3 {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    height: 80%;
    background-color: rgb(255, 255, 255);
  }
  .model-open3 .custom-model-inner3 {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
  }
  
  .close-btn3 {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    transition: 1s ease-in-out;
  }
  .close-btn3 img{
    width: 50px;
    height: 50px;
  }
  .close-btn3:hover{
    transform: rotate(180deg);
  }
  .popup_content3{
    width: 100%;
    height: 100%;
    padding: 100px;
    
  }
  .popup_content3 h3{
    text-align: left;
    font-family: "Nexa-Bold";
    font-size: 24px;
    color: #000;
  }
  .popup_content3 p{
    color: #000;
    text-align: justify;
    margin-top:10px;
    font-size: 16px;
  }
  /* Web Design & Development Description Popup */
  
  .custom-model-main4 {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 15%;
    right: 0;
    bottom: 0;
    left: 0; /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .model-open4 {
    z-index: 9;
    opacity: 1;
    overflow: hidden;
  }
  .custom-model-inner4 {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    height: 80%;
    background-color: rgb(255, 255, 255);
  }
  .model-open4 .custom-model-inner4 {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
  }
  
  .close-btn4 {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    transition: 1s ease-in-out;
  }
  .close-btn4 img{
    width: 50px;
    height: 50px;
  }
  .close-btn4:hover{
    transform: rotate(180deg);
  }
  .popup_content4{
    width: 100%;
    height: 100%;
    padding: 100px;
    
  }
  .popup_content4 h3{
    text-align: left;
    font-family: "Nexa-Bold";
    font-size: 24px;
    color: #000;
  }
  .popup_content4 p{
    color: #000;
    text-align: justify;
    margin-top:10px;
    font-size: 16px;
  }
  /* Branding Description Popup */
  
  .custom-model-main5 {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 15%;
    right: 0;
    bottom: 0;
    left: 0; /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .model-open5 {
    z-index: 9;
    opacity: 1;
    overflow: hidden;
  }
  .custom-model-inner5 {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    height: 80%;
    background-color: rgb(255, 255, 255);
  }
  .model-open5 .custom-model-inner5 {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
  }
  
  .close-btn5 {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    transition: 1s ease-in-out;
  }
  .close-btn5 img{
    width: 50px;
    height: 50px;
  }
  .close-btn5:hover{
    transform: rotate(180deg);
  }
  .popup_content5{
    width: 100%;
    height: 100%;
    padding: 100px;
    
  }
  .popup_content5 h3{
    text-align: left;
    font-family: "Nexa-Bold";
    font-size: 24px;
    color: #000;
  }
  .popup_content5 p{
    color: #000;
    text-align: justify;
    margin-top:10px;
    font-size: 16px;
  }
  /* Branding Description Popup */
  
  .custom-model-main6 {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 15%;
    right: 0;
    bottom: 0;
    left: 0; /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .model-open6 {
    z-index: 9;
    opacity: 1;
    overflow: hidden;
  }
  .custom-model-inner6 {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    height: 80%;
    background-color: rgb(255, 255, 255);
  }
  .model-open6 .custom-model-inner6 {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
  }
  
  .close-btn6 {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    transition: 1s ease-in-out;
  }
  .close-btn6 img{
    width: 50px;
    height: 50px;
  }
  .close-btn6:hover{
    transform: rotate(180deg);
  }
  .popup_content6{
    width: 100%;
    height: 100%;
    padding: 100px;
    
  }
  .popup_content6 h3{
    text-align: left;
    font-family: "Nexa-Bold";
    font-size: 24px;
    color: #000;
  }
  .popup_content6 p{
    color: #000;
    text-align: justify;
    margin-top:10px;
    font-size: 16px;
  }
  /* PopUp Section End */
  .sem{
    width: 350px;
    height: 350px;
    position: relative;
    
  }
  .sem_glow{
    position: absolute;
    left: 0%;
    top: 0;
    margin-top: -10px;
    opacity: 0.4;
    visibility:hidden;
  }
  .smm{
    margin-top: 95px;
    width:270px; 
    height: 270px;
    margin-bottom: 85px;
    position: relative;
  }
  .smm_glow{
    width:270px; 
    height: 270px;
    position: absolute;
    left: 20.1%;
    opacity: 1;
    visibility:hidden;
    margin-top: 95px;
  }
  .graphic{
    
  }
  .graphic_glow{
    position: absolute;
    top: 0;
    left: 0%;
    visibility: hidden;
  }
  .web{
    margin-top: 41px;
    width: 400px;
    margin-bottom: -5px;
    position: relative;
  }
  .web_glow{
    width: 400px;
    position: absolute;
    left: calc(6% - 2px);
    opacity: 1;
    visibility:hidden;
    margin-top: 41px;
  }
  
  .branding{
  
  }
  .branding_glow{
    position: absolute;
    top: 0;
    left: 0%;
    opacity: 1;
    visibility: hidden;
  }
  .photography{
   margin-bottom: 52px;
   width: 400px;
   height: 400px;
  }
  .photography_glow{
    width: 400px;
    height: 400px;
    position: absolute;
    left:calc(6% - 2px);
    opacity: 1;
    visibility: hidden;
  }
  .services_list .Click-here:hover .sem_glow,
  .services_list .Click-here2:hover .smm_glow,
  .services_list .Click-here3:hover .graphic_glow,
  .services_list .Click-here4:hover .web_glow,
  .services_list .Click-here5:hover .branding_glow,
  .services_list .Click-here6:hover .photography_glow
  {
    visibility: visible;
  }
  @media only screen and (max-width:1680px){
    .smm_glow{
    width:270px; 
    height: 270px;
    position: absolute;
    left:calc(14% - 4px);
    opacity: 1;
    visibility:hidden;
    margin-top: 95px;
  }
  .web_glow{
    width: 400px;
    position: absolute;
    left: 0;
    opacity: 1;
    visibility:hidden;
    margin-top: 41px;
  }
  .photography_glow{
    width: 400px;
    height: 400px;
    position: absolute;
    left:0;
    opacity: 1;
    visibility: hidden;
  }
  }
  @media only screen and (max-width:1440px){
    .smm_glow{
      width:270px; 
      height: 270px;
      position: absolute;
      left:calc(7% - 3px);
      opacity: 1;
      visibility:hidden;
      margin-top: 95px;
    }
    .web_glow{
      width: 400px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 1;
      visibility:hidden;
      margin-top: 41px;
    }
    .photography_glow{
      width: 400px;
      height: 400px;
      position: absolute;
      left:0;
      top: 0;
      opacity: 1;
      visibility: hidden;
    }
  }
  @media only screen and (max-width:1280px){
    
    .sem{
      width: 350px !important;
      height: 350px !important;
      position: relative;
      
    }
    .sem_glow{
      width: 350px !important;
      height: 350px !important;
      position: absolute;
      left: 0%;
      top: 0;
      margin-top: -10px;
      opacity: 0.4;
      visibility:hidden;
    }
    .smm{
      margin-top: 75px;
      width:220px !important; 
      height: 220px !important;
      margin-bottom: 57px;
      position: relative;
    }
    .smm_glow{
      width:220px !important; 
      height: 220px !important;
      position: absolute;
      left: calc(9% - 1px);
      opacity: 1;
      visibility:hidden;
      margin-top: 75px;
    }
    .graphic{
      width: 350px !important;
      height: 350px !important;
    }
    .graphic_glow{
      width: 350px !important;
      height: 350px !important;
      position: absolute;
      top: 0;
      left: 0%;
      visibility: hidden;
    }
    .web{
      width: 330px !important;
      margin-bottom: -1px;
      margin-top: 5px;
      position: relative;
    }
    .web_glow{
      width: 330px !important;
      position: absolute;
      left: calc(0%);
      margin-top: 5px;
      opacity: 1;
      visibility:hidden;
    }
    .branding{
      width: 350px !important;
      height: 350px !important;
    }
    .branding_glow{
      width: 350px !important;
      height: 350px !important;
      position: absolute;
      top: 0;
      left: 0%;
      opacity: 1;
      visibility: hidden;
    }
    .photography{
     margin-bottom: 30px;
     width: 320px !important;
    height: 320px !important;
    }
    .photography_glow{
      width: 320px !important;
      height: 320px !important;
      position: absolute;
      left:calc(0%);
      opacity: 1;
      visibility: hidden;
    }
  }
  @media only screen and (max-width:1400px){
    
    .sem{
      width: 350px !important;
      height: 350px !important;
      position: relative;
      
    }
    .sem_glow{
      width: 350px !important;
      height: 350px !important;
      position: absolute;
      left: 0%;
      top: 0;
      margin-top: -10px;
      opacity: 0.4;
      visibility:hidden;
    }
    .smm{
      margin-top: 75px;
      width:220px !important; 
      height: 220px !important;
      margin-bottom: 57px;
      position: relative;
    }
    .smm_glow{
      width:220px !important; 
      height: 220px !important;
      position: absolute;
      left: calc(9% + 11px);
      opacity: 1;
      visibility:hidden;
      margin-top: 75px;
    }
    .graphic{
      width: 350px !important;
      height: 350px !important;
    }
    .graphic_glow{
      width: 350px !important;
      height: 350px !important;
      position: absolute;
      top: 0;
      left: 0%;
      visibility: hidden;
    }
    .web{
      width: 330px !important;
      margin-bottom: -1px;
      margin-top: 5px;
      position: relative;
    }
    .web_glow{
      width: 330px !important;
      position: absolute;
      left: calc(0%);
      margin-top: 5px;
      opacity: 1;
      visibility:hidden;
    }
    .branding{
      width: 350px !important;
      height: 350px !important;
    }
    .branding_glow{
      width: 350px !important;
      height: 350px !important;
      position: absolute;
      top: 0;
      left: 0%;
      opacity: 1;
      visibility: hidden;
    }
    .photography{
     margin-bottom: 30px;
     width: 320px !important;
    height: 320px !important;
    }
    .photography_glow{
      width: 320px !important;
      height: 320px !important;
      position: absolute;
      left:calc(0%);
      opacity: 1;
      visibility: hidden;
    }
  }
  @media only screen and (max-width:1366px){
    .smm_glow{
      left: calc(9% + 7px);
    }
  }
  @media only screen and (max-height:768px){
    .smm_glow{
      left: calc(9% + 9px);
      
    }
    
  }
  @media only screen and (max-width:450px){
    .services_list .Click-here:hover .sem_glow,
  .services_list .Click-here2:hover .smm_glow,
  .services_list .Click-here3:hover .graphic_glow,
  .services_list .Click-here4:hover .web_glow,
  .services_list .Click-here5:hover .branding_glow,
  .services_list .Click-here6:hover .photography_glow
  {
    visibility:hidden;
  }
  .custom-model-inner, .custom-model-inner2,
  .custom-model-inner3, .custom-model-inner4,
  .custom-model-inner5, .custom-model-inner6 {
    width: 80%;
    height: 90%;
  }
  .close-btn img , .close-btn2 img,
  .close-btn3 img , .close-btn4 img,
  .close-btn5 img , .close-btn6 img{
    width: 30px;
    height: 30px;
  }
  .popup_content , .popup_content2,
  .popup_content3, .popup_content4,
  .popup_content5, .popup_content6{
    width: 100%;
    height: 100%;
    padding: 50px 20px;
  }
  }
